/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: SilverCharm;
  src: url(assets/fonts/SilverCharm.otf) format("opentype");
}

.custom-dialog-container .mat-dialog-container {
  border-color: #284a29;
  border-style: solid;
  border-radius: 25px;
  border-width: 0;
  width: auto;
}

.custom-dialog-container .mat-form-field{
  display: inline;
}

.custom-dialog-success .mat-dialog-container {
  border-color: #284a29;
  border-style: solid;
  border-radius: 25px;
  border-width: 0;

}

.custom-dialog-success .mat-form-field{
  max-width: 450px;
  width: 450px;
  margin-left: 4%;
}

.custom-dialog-success .mat-dialog-actions{
  margin-left: 42%;
}

.custom-dialog-container .mat-card .mat-card-actions{
  text-align: center;
}

.custom-dialog-success .mat-card .mat-card-actions{
  text-align: center;
}

.custom-dialog-container .mat-dialog-title {
  margin: 0;
}

.custom-dialog-success .mat-card-header {
  text-align: center;
}

.custom-dialog-success .mat-dialog-container{
  padding: 0;
}
