.mat-button, .mat-icon-button, .mat-stroked-button {
  color: white;
  background-color: #284a29;
  /* background: 0 0; */
}

.title-dialog{
  text-align: center;
}

.task-header {
  padding: 0 5px;
  height: 5px;
}
.fx-spacer {
  flex: 1 1 auto;
}

.md-content {
  border-radius: inherit;
}

.mat-toolbar {
  margin: -24px -24px 0;
  width: auto;
  align-items: center;
  background-color: #3f7541;
}

.mat-dialog-content {
  margin: 0 -24px;
  padding: 0 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  width: auto !important;
}

.mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled] {
  cursor: default;
  background-color: #c0c0c0;
}

.button-right-custom{
  margin-left: 20%;
}

.filler {
  margin-right: 20%;
}
.gap {
  margin-right: 10%;
}
