<mat-toolbar class="task-header" color="warn" role="toolbar">
  <mat-toolbar-row>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="margin-top: 5%">
      <span style="margin-left: 5%;  font-size: 18px;">Confirma tu asistencia</span>
    </mat-card-title>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <form class="form-Modal" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <label>
          <input type="text"  matInput formControlName="participant" placeholder="Nombre"
                 [matAutocomplete]="participantComplete">
        </label>
        <mat-autocomplete #participantComplete="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let participant of participants" [value]="participant">
              {{ participant.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.controls['participant'].hasError('required')">
            Solo se permite el ingreso de letras y espacio.
          </mat-error>
          <mat-error *ngIf="form.controls['participant'].hasError('incorrect')">
            Ingrese un nombre de asistente válido.
          </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <p></p>
    <button mat-button [mat-dialog-close]="data.animal"
            [disabled]="form.pristine || form.invalid"
            (click)="addBusiness(form.get('participant').value)">Confirmar
    </button>
  </mat-card-actions>
</mat-card>
