<mat-toolbar class="task-header" color="warn" role="toolbar">
  <mat-toolbar-row>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="margin-top: 5%">
      <span style="margin-left: 5%;  font-size: 18px;">Confirma tu asistencia</span>
    </mat-card-title>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <form class="form-Modal" [formGroup]="angForm" novalidate>
      <mat-form-field class="example-full-width">
        <div
          *ngIf="angForm.controls['personName'].invalid && (angForm.controls['personName'].dirty || angForm.controls['personName'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['personName'].errors.required">
            <p style="color: darkred">Ingrese su nombre.
          </div>
          <div *ngIf="angForm.controls['personName'].errors.pattern">
            <p style="color: darkred">Solo se permite el ingreso de letras y números.
          </div>
        </div>
        <label>
          <input type="text" formControlName="personName" name="personName" matInput placeholder="Nombre" value="">
        </label>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [mat-dialog-close]="data.animal"
            [disabled]="angForm.pristine || angForm.invalid"
            (click)="addBusiness(angForm.get('personName').value)">Confirmar
    </button>
  </mat-card-actions>
</mat-card>
