.mat-card{
  box-shadow: none;
}

.mat-card-content{
  margin-top: 20%;
}

.mat-card-header{
 text-align: center;
  flex-direction: column;
}

.card-container {
  width: 800px;
  height: 600px;
  max-width: 600px;
  position: relative;
  -webkit-perspective: 500px;
  perspective: 600px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-container .front {
  z-index: 2;
  backface-visibility: hidden;
  background-image: url("../assets/images/safari.png");
  background-repeat: no-repeat;
  background-position: center center;
  align-content: center;
  width: 600px;
  height: 600px;
}

.card-container .back {
  background-image: url("../assets/images/back.png");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 600px;
  height: 600px;
}

.card-container.flipped {
  transform: rotateY( 180deg );
}

.card-container mat-card {
  margin: 0;
  display: block;
  position: absolute;
  backface-visibility: visible;
}

.card-title{
  align-content: center;
  text-align: center;
  font-size: 120px;
  font-family: 'SilverCharm', serif;
}

.card-subtitle{
  align-content: center;
  text-align: center;
  font-size: 60px;
  font-family: 'SilverCharm', serif;
}

.card-back-title{
  align-content: center;
  text-align: center;
  font-size: 60px;
  margin-top: -2%;
  font-family: 'SilverCharm', serif;
}

.card-back-content{
  margin-top: 10%;
}
.btn-back{
  text-align: center;
  margin-top: 2%;
}

.btn-back-icon{
  margin-right: 2%;
}

.mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #dcbd5e;
}

.mat-fab{
  width: 12%;
}

.card-back-subtitle{
  align-content: center;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  font-style: italic;
  font-family: Arial, serif;
}

.card-date{
  margin-top: 05%;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-family: Arial, serif;
  font-style: italic;
}

.button-next{
  align-content: center;
  margin-top: 4%;
  text-align: center;
}

.card-place{
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-family: Arial, serif;
  font-style: italic;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #3f7541;
}

.form-Modal {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-form-field {
  width: 450px;
}

.example-full-width {
  width: 100%;
}



